In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('cats_dataset.csv')
print(df)

                  Breed  Age (Years)  Weight (kg)          Color  Gender
0          Russian Blue           19            7  Tortoiseshell  Female
1      Norwegian Forest           19            9  Tortoiseshell  Female
2             Chartreux            3            3          Brown  Female
3               Persian           13            6          Sable  Female
4               Ragdoll           10            8          Tabby    Male
..                  ...          ...          ...            ...     ...
995   British Shorthair           19            5           Gray  Female
996   British Shorthair           11            2        Bicolor  Female
997            Savannah           12            5        Bicolor  Female
998  American Shorthair            8            3  Tortoiseshell  Female
999           Chartreux           11            4          Sable  Female

[1000 rows x 5 columns]

In [2]:
df=pd.read_csv('cats_dataset.csv')
print(df)

                  Breed  Age (Years)  Weight (kg)          Color  Gender
0          Russian Blue           19            7  Tortoiseshell  Female
1      Norwegian Forest           19            9  Tortoiseshell  Female
2             Chartreux            3            3          Brown  Female
3               Persian           13            6          Sable  Female
4               Ragdoll           10            8          Tabby    Male
..                  ...          ...          ...            ...     ...
995   British Shorthair           19            5           Gray  Female
996   British Shorthair           11            2        Bicolor  Female
997            Savannah           12            5        Bicolor  Female
998  American Shorthair            8            3  Tortoiseshell  Female
999           Chartreux           11            4          Sable  Female

[1000 rows x 5 columns]

Read json file

In [5]:
print(df.loc[:,'Breed'])

0            Russian Blue
1        Norwegian Forest
2               Chartreux
3                 Persian
4                 Ragdoll
              ...
995     British Shorthair
996     British Shorthair
997              Savannah
998    American Shorthair
999             Chartreux
Name: Breed, Length: 1000, dtype: object

In [8]:
print(df.iloc[0:10])

              Breed  Age (Years)  Weight (kg)          Color  Gender
0      Russian Blue           19            7  Tortoiseshell  Female
1  Norwegian Forest           19            9  Tortoiseshell  Female
2         Chartreux            3            3          Brown  Female
3           Persian           13            6          Sable  Female
4           Ragdoll           10            8          Tabby    Male
5            Ocicat            9            8           Blue  Female
6           Ragdoll            6            5         Calico  Female
7        Abyssinian           12            3          Tabby    Male
8          Oriental            2            7          White    Male
9      Egyptian Mau           12            3          White    Male

In [11]:
print(df.notnull().sum())

Breed          1000
Age (Years)    1000
Weight (kg)    1000
Color          1000
Gender         1000
dtype: int64

In [12]:
print(df.drop([1,2,3,4,5,6,7,8,]))

                  Breed  Age (Years)  Weight (kg)          Color  Gender
0          Russian Blue           19            7  Tortoiseshell  Female
9          Egyptian Mau           12            3          White    Male
10            Chartreux           16            4          White    Male
11   American Shorthair           13            5          Black    Male
12               Bengal           16            6          White    Male
..                  ...          ...          ...            ...     ...
995   British Shorthair           19            5           Gray  Female
996   British Shorthair           11            2        Bicolor  Female
997            Savannah           12            5        Bicolor  Female
998  American Shorthair            8            3  Tortoiseshell  Female
999           Chartreux           11            4          Sable  Female

[992 rows x 5 columns]

In [14]:
print(df['Age (Years)'].mean())

10.21

In [21]:
df.index=df.index(df["Breed"].str.replace('British Shorthair','shoaibbaloch'))

TypeError: 'RangeIndex' object is not callable

In [30]:
result=1
numbers=[1,2,3,4]
#for num in numbers:
    #result*=num
for num in reversed(numbers-1):
 print(result)

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [37]:
result_final=[]
nums=[1,2,3,4]
s=nums[-1]
n=4
print(s)
for i in nums:
 result*=i
result_final.append(result)
for j in range(n-1):
 r=s*n
 n+=1
result_final.append(r)

print(result_final)

4
[13824, 24]

In [33]:
a=[1,2,3,4]
s=a[-1]
print(s)

4